In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
purchase_pd = "../Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(purchase_pd)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
#Calculate total players
total_players = purchase_data["SN"].unique()
players = len(total_players)
players

576

In [3]:
#Purchasing Analysis (total)
#Number of Unique Items
unique_items = purchase_data["Item ID"].nunique()
unique_items

183

In [4]:
#Total Purchases
total_purchases = purchase_data["Purchase ID"].nunique()
total_purchases

780

In [5]:
total_revenue = purchase_data["Price"].sum()
total_revenue

2379.77

In [6]:
average_price = round(total_revenue/total_purchases,2)
average_price

3.05

In [7]:
summary_table = pd.DataFrame({"Number of Unique Items": [unique_items],
                             "Average Price": [average_price],
                             "Total Purchases": [total_purchases],
                             "Total Revenue": [total_revenue]})
summary_table

   Number of Unique Items  Average Price  Total Purchases  Total Revenue
0                     183           3.05              780        2379.77

In [8]:
#Drop duplicates to get an accurate gender count:
unique_names_subset = purchase_data.drop_duplicates(subset="SN", keep="first")
unique_names_subset
gender_count = unique_names_subset.loc[:,"Gender"]
gender_count = gender_count.value_counts()
# male_count = gender_count[0]
# female_count = gender_count[1]
# other_count = gender_count[2]

percent = [name/players *100 for name in gender_count]
percent

[84.02777777777779, 14.0625, 1.9097222222222223]

In [9]:
# gender_summary = pd.DataFrame({"Total Count": [gender_count[0], gender_count[1]],
#                              "Average Price": [average_price],
#                              "Total Purchases": [total_purchases],
#                              "Total Revenue": [total_revenue]})
# print(gender_summary)

In [10]:
# gender_summary = pd.DataFrame({"Total Count": [gender_count[0], gender_count[1]],
#                              "Average Price": [average_price],
#                              "Total Purchases": [total_purchases],
#                              "Total Revenue": [total_revenue]})
# print(gender_summary)

In [11]:
gender_purchase = purchase_data.groupby("Gender").count()["Purchase ID"]
avg_purchase = round(purchase_data.groupby("Gender").mean()["Price"],2)
total_purchase = purchase_data.groupby("Gender").sum()["Price"]
# df.groupby(['cluster', 'org']).mean()
avg_per_person = round(total_purchase/gender_count,2)

gender_df = pd.DataFrame({"Purchase by gender": gender_purchase, "Average Purchase": avg_purchase, "Total Purchase": total_purchase, "Average by person": avg_per_person})
gender_df

,Purchase by gender,Average Purchase,Total Purchase,Average by person
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

In [12]:
# #Binz
# # Bins are 0, 60, 70, 80, 90, 100
# bins = [0, 60, 70, 80, 90, 100]

# # Create the names for the four bins
# group_names = ["F", "D", "C", "B", "A"]
# <10	17	2.95
# 10-14	22	3.82
# 15-19	107	18.58
# 20-24	258	44.79
# 25-29	77	13.37
# 30-34	52	9.03
# 35-39	31	5.38
# 40+	
# df["Test Score Summary"] = pd.cut(df["Test Score"], bins, labels=group_names)
# df

In [24]:
bins = [0,9,14,19,24,29,34,39,150]
bin_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
unique_names_subset["Age Demographics"] = pd.cut(unique_names_subset["Age"], bins, labels=bin_names)
df = unique_names_subset.groupby("Age Demographics").count()
df

C:\Users\emrus\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

                  Purchase ID   SN  Age  Gender  Item ID  Item Name  Price
Age Demographics
<10                        17   17   17      17       17         17     17
10-14                      22   22   22      22       22         22     22
15-19                     107  107  107     107      107        107    107
20-24                     258  258  258     258      258        258    258
25-29                      77   77   77      77       77         77     77
30-34                      52   52   52      52       52         52     52
35-39                      31   31   31      31       31         31     31
40+                        12   12   12      12       12         12     12